body html {
    color: #fff;
    background: #63738a;
    font-family: 'Roboto', sans-serif;
}

.bg {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.marginImg {
    margin-top: 60px;
}

.icon-input-btn{
    display: inline-block;
    position: relative;
}
.icon-input-btn input[type="submit"]{
    padding-left: 2em;
}
.icon-input-btn .glyphicon{
    display: inline-block;
    position: absolute;
    left: 0.65em;
    top: 30%;
}

/*Login*/

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: auto;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/*Registro*/
.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control, .btn {        
    border-radius: 3px;
}

.signup-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.transparente {
    opacity: 0.9;
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before, .signup-form h2:after {
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {      
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}   

.signup-form a {
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

/*Footer
.footer-bottom {
    color: white;
    text-align: center;
    font-size: 15px;
    line-height: 0.3cm;
    background-color: transparent;
    margin-bottom: 10px;
}

.email {
    color: #8bdae0; 
}*/

/*Navibar Left*/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 100px;
    max-width: 100px;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #4a92c0;
    color: #98c8e8;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #6d7073;
}

#navbarImg {
    width: 80px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #98c8e8;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #4a92c0;
    background: #98c8e8;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #98c8e8;
    background: #4a92c0;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4a92c0;
}


